nav li{
    list-style: none;
    margin: 10px 100px;
    padding: 5px 15px;
    border-radius: 10px;
}
nav li a{
    text-decoration: none;
}
nav ul{
    display: flex;
}
li:hover{
    background-color: skyblue;
}